<h2 style="margin-top:10px">借閱紀錄</h2>
<h4>
    <strong>影片名稱: </strong>
    <span id="videoName" style="font-style: italic">
    </span>
</h4>
<div id="lendRecordGrid"></div>
<br>
<div>
    <a href="/VideoData/Index">返回首頁</a>
</div>

<script src="~/Scripts/Page/getVideoLendDataScript.js"></script>
